@import "fonts.css";

:root {
  --font-regular: "SFProDisplay-Regular";
  --font-medium: "SFProDisplay-Medium";
  --font-semibold: "SFProDisplay-Semibold";
  --font-bold: "SFProDisplay-Bold";
  --primary: #635AFF;
  --primary-50: #F2F3F8;
  --primary-100: #E0DEFF;
  --primary-200: #C1BDFF;
  --primary-300: #A19CFF;
  --primary-400: #827BFF;
  --primary-500: #635AFF;
  --primary-600: #473EE5;
  --primary-700: #251E8F;
  --primary-800: #2B2D4C;
  --primary-900: #141639;
  --greyscale-50: #F7F7F9;
  --greyscale-100: #F2F2F2;
  --greyscale-200: #E2E8F0;
  --greyscale-300: #ADB7C2;
  --greyscale-500: #767994;
  --greyscale-800: #2B2D4C;
  --greyscale-900: #191F3F;
}

body {
  font-family: var(--font-regular);
}

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cdcbcb;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--primary-500);
}
