@import "fonts.css";

:root {
  --font-regular: "SFProDisplay-Regular";
  --font-medium: "SFProDisplay-Medium";
  --font-semibold: "SFProDisplay-Semibold";
  --font-bold: "SFProDisplay-Bold";
  --primary: #635AFF;
  --primary-50: #F2F3F8;
  --primary-100: #E0DEFF;
  --primary-200: #C1BDFF;
  --primary-300: #A19CFF;
  --primary-400: #827BFF;
  --primary-500: #635AFF;
  --primary-600: #473EE5;
  --primary-700: #251E8F;
  --primary-800: #2B2D4C;
  --primary-900: #141639;
  --greyscale-50: #F7F7F9;
  --greyscale-100: #F2F2F2;
  --greyscale-200: #E2E8F0;
  --greyscale-300: #ADB7C2;
  --greyscale-500: #767994;
  --greyscale-800: #2B2D4C;
  --greyscale-900: #191F3F;

  --dp-cell-size: 35px!important;
  --dp-font-size: 12px!important;
  --dp-cell-border-radius: 200px!important;

}

/** Calendar Date Picker **/
.dp__theme_light {
  --dp-range-between-dates-background-color: var(--primary-50)!important;
  --dp-border-color: var(--greyscale-200)!important;
  --dp-primary-color: var(--primary-500)!important;
  --dp-row-margin: 4px 0!important;
}

body {
  font-family: var(--font-regular);
}

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cdcbcb;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-500);
}

.app-input {
  margin-bottom: 8px;
}

.expander-cell {
  padding-top: 0;
  padding-bottom: 0;
}

.expander-cell .p-row-toggler {
  display: flex;
  margin: auto;
}

.expander-cell .p-row-toggler[aria-expanded="true"] svg {
  transform: rotate(180deg);
}

.expander-cell svg {
  width: 0.75rem;
  height: 0.75rem;
  transform: rotate(90deg);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
