@import "fonts.css";

:root {
  --font-regular: "SFProDisplay-Regular";
  --font-medium: "SFProDisplay-Medium";
  --font-semibold: "SFProDisplay-Semibold";
  --font-bold: "SFProDisplay-Bold";
  --primary: #635AFF;
}

body {
  font-family: var(--font-regular);
}

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cdcbcb;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--primary);
}
